.idea/*
backup
__pycache__
real_nvp/mnist_*
testing
# run/*
# run_*
# logs/
clear_and_run.sh
graph_data
*.png
preprocessing/*.csv
preprocessing/*.txt
preprocessing/*.data


run/logs/celeba.zip
run/logs/mnist.zip
samples_debug.zip
samples_debug_pt.zip
samples_debug_pt_new.zip
samples_debug_pt_new/
samples_debug_pt_old.zip